@use '@/utils/media-query' as query;

.nav {
    position: fixed;
    z-index: 1;
    inset: 20px 20px auto auto;

    @include query.screen('max-ipad:') {
        inset: auto 20px 20px auto;
        padding: 2px 7px 2px 6px;
        border-radius: var(--radius-sm);
        border: 1px solid var(--color-black);
        color: var(--color-black);
        background-color: var(--color-white);
    }
}

.link {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    line-height: 1;

    &:hover,
    &:active,
    &:focus-visible {
        color: var(--color-blue);
    }
}
