.container {
    padding: calc(20 / 16 * 1rem) calc(10 / 16 * 1rem);
    border-radius: var(--border-radius-base);
    background-color: var(--color-bg-secondary);

    & > pre {
        background-color: transparent !important;
    }
}
