@font-face {
    font-family: zapfino-subset;
    src: url('./zapfino-subset.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container {
    --gap: 10px;

    display: grid;
    gap: var(--gap);
    grid-template-rows: auto 1fr;
    grid-template-columns: max-content 1fr;
    font-size: 90%;
    font-family: '霞鹜文楷等宽', monospace;
    padding: var(--gap);
    border-radius: var(--rounded-base);
    border: 1px solid var(--color-border-primary);
}

.select {
    display: flex;
    flex-direction: column;
    gap: 1ch;

    & > label {
        display: flex;
        gap: 1ch;
        justify-content: space-between;
        align-items: center;

        & > *:last-child {
            inline-size: 20ch;
        }
    }
}

.syntax {
    /* outline: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-block-start: 1px dashed var(--color-border-primary);
}

.effect {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    block-size: 12rem;
    padding-inline-start: var(--gap);
    border-inline-start: 1px dashed var(--color-border-primary);
    cursor: default;
    user-select: none;
    background-size: 10px 10px;
    background-clip: content-box;
    background-image: repeating-linear-gradient(
        315deg,
        var(--color-bg-secondary) 0,
        var(--color-bg-secondary) 1px,
        rgba(0 0 0 / 0%) 0,
        rgba(0 0 0 / 0%) 50%
    );

    & > span {
        display: block;
        font-size: 3rem;
        /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
        font-family: zapfino-subset;
        line-height: normal;
        background-color: var(--color-text-primary-accent);
    }
}
