# MacOS
*.pem
.DS_Store
.AppleDouble
.LSOverride

# Development
.env*
**/.next
**/.vercel
**/node_modules
.pnpm-debug.log*
package-lock.json

*.tsbuildinfo
next-env.d.ts

# Production
**/out
**/dist
**/build

# Mine
**/*.png
**/*.jpg
**/*.jpeg
**/*.otf
**/*.ttf
**/*.woff
**/*.woff2

**/.obsidian

**/GoogleAnalytics.tsx

app/_css/google-fonts.css

post-wip
post-temp
post-deprecated

public/image-hosting