.container {
    inline-size: min(100%, 74ch);
    margin-inline: auto;
    margin-block: 6rem 10rem;
    font-size: 1.1rem;
    container-type: inline-size;
}

.title {
    text-align: center;
}

.date {
    margin-block-end: 3rem;
    font-size: 0.8rem;
    text-align: center;
}
