.container {
    display: block;
    user-select: none;
    pointer-events: none;

    & > address {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
        margin-block-end: 0.625rem;
        color: var(--color-text-secondary);
        font-style: normal;
        font-family: '霞鹜文楷等宽', monospace;
        line-height: 1;
    }
}
