.container {
    position: absolute;
    z-index: 1;
    bottom: 1.25rem;
    right: 1.25rem;
    pointer-events: none;

    & > address {
        display: flex;
        gap: 0.25rem;
        align-items: center;
        margin-block: calc(50% - 0.5rem);
        color: var(--color-text-secondary);
        font-size: 80%;
        font-style: normal;
        line-height: 1;
        rotate: 90deg;
        translate: 50%;
    }
}
