.list {
    display: flex;
    gap: 5ch;
    flex-direction: column;
    padding-block: 4rem;
    inline-size: min(100%, 72rch);
    margin-inline: auto;
}

.item {
    flex: 1 1 0;
    list-style: none;
}
