.list {
    display: flex;
    gap: 5ch;
    flex-direction: column;
    padding-block: 4rem;
    inline-size: min(100%, 60ch);
    margin-inline: auto;
}

.item {
    flex: 1 1 0;
    list-style: none;
}

.divider {
    text-align: center;
    margin-block-start: 3rem;
}
