.list {
    display: flex;
    flex-direction: column;
    gap: 5ch 10ch;
    align-items: center;
    padding-block: 4rem;
    padding-inline: 2rem;
}

.item {
    flex: 1 1 0;
    min-width: 38ch;
    max-width: 60ch;
    list-style: none;
}

.divider {
    text-align: center;
    margin-block-start: 3rem;
}
