.container {
    position: relative;
    display: block;
    overflow: clip;
    block-size: fit-content;
    inline-size: fit-content;
    border: none;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.icon {
    position: absolute;
    inset: 0;
    block-size: 100%;
    inline-size: 100%;
    margin: auto;
    transition:
        all 800ms cubic-bezier(0.7, 0, 0.84, 0),
        all 800ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
