.container {
    position: relative;
    padding: 1rch;
    border: 1px solid var(--color-silver);
    border-radius: var(--radius-sm);
    outline: none;
    font-size: 1rem;
    caret-color: var(--color-blue);
    background-size: 10px 10px;
    background-clip: content-box;
    background-image: repeating-linear-gradient(
        315deg,
        var(--color-gray) 0,
        var(--color-gray) 1px,
        transparent 0,
        transparent 50%
    );

    &.dialog {
        block-size: 100%;
    }

    &.dialog > .scroll {
        block-size: 100%;
        padding: 1rch;
    }

    &.inline > .scroll {
        max-block-size: 30rch;
        padding: 1rch;
    }
}

.control {
    display: flex;
    gap: 8px;
    align-items: center;
    position: absolute;
    inset: 2rch 2rch auto auto;
    margin: 0.25rem;
}
