.container {
    inline-size: min(100%, 89ch);
    margin-inline: auto;
    margin-block: var(--post-margin-block);
    font-size: 1.1rem;
    container-type: inline-size;
}

.title {
    text-align: center;
}

.date {
    margin-block-end: var(--post-title-margin-block-end);
    font-size: 0.8rem;
    text-align: center;
}
