.container {
    border-radius: var(--radius-xs);
    font-family: var(--mono);
    cursor: copy;

    &::before {
        content: '{{ ';
        color: var(--color-silver);
    }

    &::after {
        content: ' }}';
        color: var(--color-silver);
    }
}
