.container {
    border-radius: var(--radius-xs);
    font-family: var(--mono);

    &::before {
        content: '{{ ';
        opacity: 0.3;
    }

    &::after {
        content: ' }}';
        opacity: 0.3;
    }
}
