.container {
    table-layout: auto;
    inline-size: 100%;
    margin-block: 1rem;
    font-size: 0.9rem;

    & td,
    & th {
        background-color: var(--color-bg-tertiary);
        border-radius: var(--rounded-base);
        padding-inline: 2ch;
        padding-block: 1ch;
        text-align: center !important;
    }

    & td:first-child,
    & th:first-child {
        text-align: left !important;
    }

    & td:last-child,
    & th:last-child {
        text-align: right !important;
    }
}
