.container {
    table-layout: auto;
    inline-size: 100%;
    margin-block: 1rem;

    & th,
    & td {
        background-color: var(--color-bg-secondary);
        border-radius: var(--border-radius-base);
        padding-inline: 1rem;
        padding-block: 0.5rem;
        text-align: left;
    }
}
