@import './reset.css';
@import './variable.css';

/* Font */
@import '@/asset/temporary/LXGWWenKai-Medium/result.css';
@import '@/asset/temporary/LXGWWenKai-Regular/result.css';

/* Font (Mono) */
@import '@/asset/temporary/LXGWWenKaiMono-Medium/result.css';
@import '@/asset/temporary/LXGWWenKaiMono-Regular/result.css';

html {
    /* [iPhone 13, iPad Min] */
    font-size: clamp(0.9rem, 0.452vw + 0.7898rem, 1rem);
    font-family: '霞鹜文楷', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
}

html,
body {
    background-color: var(--color-bg-primary);
}

::selection {
    color: #fff;
    background-color: #0157e4;
}

*:focus-visible {
    outline: 1px dashed var(--color-text-primary-accent);
}
