:root {
    color-scheme: dark;

    /* Font */
    --sans: '霞鹜文楷';
    --mono: '霞鹜文楷等宽';

    /* Color */
    --color-blue: #0157e4;
    --color-white: #ededed;
    --color-black: #000;
    --color-silver: #333;
    --color-gray: #131313;

    /* Radius */
    --radius-xs: calc(2 / 16 * 1rem);
    --radius-sm: calc(4 / 16 * 1rem);
}
