.container {
    list-style: none;
    counter-reset: item;
    margin-block: 1.5rem;

    & li::before {
        counter-increment: item;
        content: counter(item) '.';
        font-size: 1rem;
        font-family: var(--mono);
        margin-inline-end: 0.25rem;
    }
}

li > .container {
    margin-inline-start: 1.25rem;
}
