.font {
    font-family: '霞鹜文楷', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

.container {
    overflow: clip;
    isolation: isolate;
    block-size: 100vh;
    block-size: 100dvh;
    inline-size: 100vw;
    inline-size: 100dvw;
}

.wrapper {
    block-size: 100%;
    inline-size: 100%;
}
