:root {
    /* 字体尺寸 */
    --font-size-sx: calc(12 / 16 * 1rem);
    --font-size-sm: calc(14 / 16 * 1rem);
    --font-size-base: calc(16 / 16 * 1rem);
    --font-size-lg: calc(18 / 16 * 1rem);
    --font-size-xl: calc(20 / 16 * 1rem);

    /* 字体颜色 */
    --color-text-primary: #ededed; /* 主色 */
    --color-text-primary-accent: #3f8ef7; /* 主强调色 */
    --color-text-secondary: #a1a1a1; /* 次色 */
    --color-text-secondary-accent: #ededed; /* 次强调色 */

    /* 背景颜色 */
    --color-bg-primary: #000; /* 主色 */
    --color-bg-primary-accent: #ededed; /* 主强调色 */
    --color-bg-secondary: #131313; /* 次色 */
    --color-bg-secondary-accent: #1f1f1f; /* 次强调色 */

    /* 边框颜色 */
    --color-border-primary: #333; /* 主色 */
    --color-border-primary-accent: #fafafa; /* 主强调色 */

    /* 其他 */
    --border-radius-xs: calc(3 / 16 * 1rem);
    --border-radius-base: calc(4 / 16 * 1rem);
    --border-radius-md: calc(6 / 16 * 1rem);
    --border-radius-lg: calc(8 / 16 * 1rem);
    --border-radius-xl: calc(10 / 16 * 1rem);
    --icon-size: calc(18 / 16 * 1rem);
}
