.container {
    inline-size: calc(780 / 16 * 1rem);
    margin-inline: auto;
    margin-block: calc(80 / 16 * 1rem);

    & > .list {
        display: flex;
        gap: 3rem;
        flex-direction: column;

        & > .post {
            list-style: none;

            &:not(:last-child)::after {
                content: '/ / /';
                display: block;
                text-align: center;
                margin-block-start: 3rem;
            }

            & > .title {
                margin-block-end: 1.5rem;
                font-size: 1.75rem;
                font-weight: bold;

                &:hover,
                &:active,
                &:focus {
                    color: var(--color-text-primary-accent);
                }

                & > * {
                    font: inherit;
                }
            }

            & > .description {
                color: var(--color-text-secondary);
            }

            & > .entry {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                inline-size: fit-content;
                margin-block-start: 1.5rem;
                font-weight: bold;

                &:hover,
                &:active,
                &:focus {
                    color: var(--color-text-primary-accent);
                }
            }
        }
    }
}
