.container {
    list-style: none;

    & li::before {
        content: '✻';
        font-size: 1rem;
        font-family: var(--mono);
        margin-inline-end: 0.25rem;
    }
}

li > .container {
    margin-inline-start: 1.25rem;
}
