.container {
    /* Match the style of the vitesse-dark. */
    --p-color: #dbd7caee;
    --h2-color: #4d9375;

    display: flex;
    gap: calc(20 / 16 * 1rem);

    & > section {
        flex: 1 0 0;
        padding: calc(20 / 16 * 1rem);
        border: 1px dashed var(--color-border-primary);
        border-radius: var(--border-radius-base);
        background-color: var(--color-bg-secondary);
        transition: border ease 250ms;
    }

    &:hover > section {
        border-color: var(--color-border-primary-accent);
    }

    & h2 {
        color: var(--h2-color);
    }

    & pre {
        /* Remove the background-color style of the vitesse-dark. */
        background-color: transparent !important;
    }

    & button {
        padding: 0.2em 0.4em;
        border: 1px solid var(--color-border-primary);
        border-radius: var(--border-radius-xs);
        background-color: var(--p-color);
        color: var(--color-bg-secondary);
        line-height: 1;
        cursor: pointer;

        &:hover {
            opacity: 0.85;
        }

        &:active {
            opacity: 1;
        }
    }

    & ul {
        list-style: none;
        margin-block-start: 1.5rem;

        & > li {
            color: var(--p-color);

            &::before {
                content: '✻ ';
                white-space: pre;
            }
        }
    }
}
