.container {
    position: sticky;
    top: 0;
    backdrop-filter: saturate(1.8) blur(5px);

    & > nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        inline-size: fit-content;
        padding-block: 1rem;
        margin-inline: auto;
        color: var(--color-text-secondary);
        font-size: 1.25rem;
        line-height: 1;

        & > a:hover,
        & > a:active,
        & > a:focus {
            color: var(--color-text-primary);
        }
    }
}
