---
import HeaderLink from "./HeaderLink.astro";
import Search from "./Search";
import { getCollection } from "astro:content";

const searchData = (await getCollection("blog")).map(item => ({
	id: item.id,
	title: item.data.title,
	description: item.data.description,
}));
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div>
      <Search data={searchData} client:visible />
    </div>
  </nav>
  <hr />
</header>