.outer {
    min-block-size: 3rem;
    max-inline-size: 42ch;
    min-inline-size: 18ch;
    padding: 2px;
    border: 1px solid var(--color-silver);
    border-radius: var(--radius-sm);
}

.inner {
    position: relative;
    padding: 0.5rem 1rem 1.5rem;
    border: 1px solid var(--color-silver);
    border-radius: var(--radius-xs);
    background-size: 10px 10px;
    background-clip: border-box;
    background-image: radial-gradient(var(--color-gray) 1px, var(--color-black) 0);
}

.date {
    position: absolute;
    top: 100%;
    padding-inline: 0.5ch;
    font-size: 80%;
    line-height: 1;
    translate: 0 -50%;
    opacity: 0.7;
    background-color: var(--color-black);
}
