.container {
    padding: 0.625rem 1.25rem;
    color: var(--color-text-secondary);
    font-family: '霞鹜文楷等宽', monospace;
    font-size: 1rem;
    background-color: var(--color-bg-primary);
}

.container > nav {
    display: flex;
    justify-content: space-between;

    & > section {
        display: flex;
        align-items: center;

        &.page {
            gap: 2rem;
        }

        &.function {
            gap: 1rem;
        }

        & > .link {
            display: flex;
            gap: 0.25rem;
            align-items: center;
            cursor: pointer;

            &:hover,
            &:active,
            &:focus {
                color: var(--color-text-secondary-accent);
            }
        }
    }
}
