.container {
    position: relative;
    overflow: clip;
    block-size: fit-content;
    inline-size: fit-content;
    border: 0.2rem solid transparent;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        color: var(--color-text-secondary-accent);
    }
}

.icon {
    position: absolute;
    inset: 0 auto auto 0;
    transition:
        opacity 800ms cubic-bezier(0.7, 0, 0.84, 0),
        opacity 800ms cubic-bezier(0.34, 1.56, 0.64, 1),
        translate 800ms cubic-bezier(0.7, 0, 0.84, 0),
        translate 800ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.spin {
    composes: container;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}
