.container {
    display: flex;
    gap: 1.25rem;
    position: absolute;
    z-index: 1;
    inset: 20% 0 auto;
    margin-inline: auto;
    inline-size: fit-content;
    color: var(--color-text-primary);
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    align-items: center;
}
